<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madcamp_week1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".contacts.ContactsDetailActivity"
            android:exported="false" />
        <activity android:name=".ShowPhotoDetailActivity" />
        <activity android:name=".AddImageActivity"></activity>
        <activity android:name=".contacts.ContactsAddActivity"
            android:noHistory="true"
            />
        <activity
            android:name=".ShowDiaryActivity"
            android:exported="false" />
        <activity android:name=".ShowPhotoActivity" />
        <activity android:name=".ChoicePhotoActivity" />
        <activity android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>